<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
</head>
<body>
    <div id="carousel">
    </div>
</body>
<style>
#carousel{
    width: 500px;
    height: 300px;
    border: 5px solid #000;
    overflow: hidden;
    position: relative;
}
img{
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    transition: 1s;
}
</style>
<script>
    const carousel = document.getElementById('carousel')
    function initCarousel(){
        for(let i=-1;i<2;i++){
            let img = document.createElement('img')
            img.style.transform = `translateX(${i*500}px)`
            img.dataset.x = i*500
            carousel.appendChild(img)
        }
    }
    initCarousel()
    carousel.onclick=e=>{
        for(let child of carousel.children){
            child.dataset.x-= 500
            child.style.transform = `translateX(${child.dataset.x}px)`
        }
        setTimeout(()=>{
            carousel.innerHTML = ''
            initCarousel()
        },1000)
    }
    
</script>
</html>