<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colorpicker
        link(rel="stylesheet", href="../css/bootstrap.css")
        link(rel="stylesheet", href="../css/colorpicker.css")
    body
        .d-inline-block.border.rounded
            .rounded.bg-active.px-3.py-3
        .mt-1
            .position-relative.d-inline-block.palette-rect
                .position-absolute.palette-rect.bg-white-gradient
                .position-absolute.palette-rect.bg-black-gradient
                .position-absolute.palette-rect.bg-active
                .position-absolute.border.border-secondary.rounded-circle.bg-light.px-1.py-1(style="left:10px;top:10px")
            .position-relative.bg-rainbow-gradient.palette-bar-vertical.mx-2
                .position-absolute.border.border-secondary.rounded.bg-light.px-2.py-1(style="left:-3px;top:10px")
        .position-relative.bg-transparent-image.palette-bar-horizontal.mt-1
            .position-absolute.border.border-secondary.rounded.bg-light.px-1.py-2(style="left:10px;top:-3px")
        .input-group.mt-1(style="width:300px")
            input.form-control(type="text")
            .input-group-append
                .btn.btn-outline-secondary clear
                .btn.btn-outline-secondary submit
    script(src="colorpicker.js")