<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colorpicker</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/colorpicker.css" />
</head>

<body>
    <div class="d-inline-block border rounded">
        <div class="rounded bg-active px-3 py-3"></div>
    </div>
    <div class="mt-1">
        <div class="position-relative d-inline-block palette-rect">
            <div class="position-absolute palette-rect bg-white-gradient"></div>
            <div class="position-absolute palette-rect bg-black-gradient"></div>
            <div class="position-absolute palette-rect bg-active"></div>
            <div class="position-absolute border border-secondary rounded-circle bg-light px-1 py-1"
                style="left:10px;top:10px"></div>
        </div>
        <div class="position-relative bg-rainbow-gradient palette-bar-vertical mx-2">
            <div class="position-absolute border border-secondary rounded bg-light px-2 py-1"
                style="left:-3px;top:10px"></div>
        </div>
    </div>
    <div class="position-relative bg-transparent-image palette-bar-horizontal mt-1">
        <div class="position-absolute border border-secondary rounded bg-light px-1 py-2" style="left:10px;top:-3px">
        </div>
    </div>
    <div class="input-group mt-1" style="width:300px"><input class="form-control" type="text" />
        <div class="input-group-append">
            <div class="btn btn-outline-secondary">clear</div>
            <div class="btn btn-outline-secondary">submit</div>
        </div>
    </div>
</body>

</html>