<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TreeView</title>
    <link rel="stylesheet" href="../css/fontawesome.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>
<body>
    <textarea name="request" id="request-url"></textarea>
    <button class="btn btn-primary" onclick="handleRequest()">send</button>
    <div id="treeview"></div>
    <input id="slider1" type="range" min="0" max="30" value="20">
    <input id="slider2" type="range" min="10" max="50" value="10">
    <canvas id="fractal-tree"></canvas>
</body>
<style>
html,body{
    margin:0;
}
i{
    width: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
.tree-content:hover{
    background: #eee;
}
</style>
<script>
    function handleRequest(){
        let url = document.getElementById('request-url').value
        // fetch(url,{}).then(res=>res.json()).then(text=>{})
        const xhr = new XMLHttpRequest()
        xhr.open('GET',url)
        xhr.setRequestHeader('user-agent','Mozilla/5.0 (Windows NT 6.1; Win64; x64)')
        xhr.send()
        xhr.onload = ()=>{
            xhr.responseText
        }
        // const formData = new FormData()
        // formData.append('filename',file)
        // xhr.open('POST','upload').send(formData)
        // xhr.upload.onprogress = e=>{
        //     if(e.lengthComputable){
        //         e.loaded / e.total
        //     }
        // }
    }
    class Treeview{
        constructor(root){
            this.level = -1
            this.parent = null
            this.container = document.createElement('div')
            this.content = null            
            this.childWrapper = null
            this.children = []
            this.expanded = true
            if(root){
                root.appendChild(this.container)   
            }else{
                this.container.className = 'tree-container'
            }
        }
        createContent(){
            var div = document.createElement('div')
            div.className = 'tree-content'
            var i = document.createElement('i')
            i.className = 'fas'
            var span = document.createElement('span')
            span.innerText = this.level
            var checkbox = document.createElement('input')
            checkbox.type = 'checkbox'
            div.appendChild(i)
            div.appendChild(checkbox)
            div.appendChild(span)
            i.onclick = e=>{
                e.stopPropagation()
                this.toggle()
            }
            div.oncontextmenu = e=>{
                e.preventDefault()
                this.appendChild()
            }
            div.style.paddingLeft = 30*this.level+'px'
            return div
        }
        appendChild(content){
            if(!this.childWrapper){
                this.childWrapper = document.createElement('div')
                this.container.appendChild(this.childWrapper)
            }
            var newTreeview = new Treeview()
            newTreeview.level = this.level+1
            newTreeview.parent = this
            newTreeview.content = content||newTreeview.createContent()
            newTreeview.container.appendChild(newTreeview.content)
            this.children.push(newTreeview)
            this.childWrapper.appendChild(newTreeview.container)
            if(this.parent){
                this.expand(newTreeview.container.clientHeight)
            }
            return newTreeview
        }
        remove(){
            if(this.parent){
                this.parent.children = this.parent.children.filter(x=>x!=this)
            }
        }
        toggle(){
            if(this.childWrapper){
                this.expanded = !this.expanded
                if(this.expanded){
                    this.expand()
                }else{
                    this.collapse()
                }
                // this.content.querySelector('input[type=checkbox]').checked = this.expanded
            }
        }
        expand(diff){
            var height = this.children.reduce((acc,cur)=>acc+cur.container.clientHeight,0)
            diff = diff||(height - this.childWrapper.clientHeight)
            var parent = this.parent
            while(parent){
                parent.childWrapper.style.height = parent.childWrapper.clientHeight+diff+'px'
                if(parent.content)
                    parent.content.querySelector('span').innerText = parent.childWrapper.style.height
                parent = parent.parent
            }
            this.childWrapper.style.height = height+'px'
            this.childWrapper.style.overflow = 'hidden'
            this.childWrapper.style.transition = '0.3s'
            this.content.querySelector('span').innerText = this.childWrapper.style.height
            //
            this.content.querySelector('i').className = 'fas fa-caret-down'
            this.content.querySelector('i').style.transition = '0.3s'
            this.content.querySelector('i').style.transform = 'rotate(0)'
        }
        collapse(){
            this.childWrapper.style.height = 0
            var diff = -this.childWrapper.clientHeight
            var parent = this.parent
            while(parent){
                parent.childWrapper.style.height = parent.childWrapper.clientHeight+diff+'px'
                if(parent.content)
                    parent.content.querySelector('span').innerText = parent.childWrapper.style.height
                parent = parent.parent
            }
            this.content.querySelector('span').innerText = this.childWrapper.style.height
            //
            this.content.querySelector('i').style.transform = 'rotate(-90deg)'
        }
        flatten(){
            var result = [this]
            for(let child of this.children){
                result = result.concat(child.flatten())
            }
            return result
        }
    }
    var root = new Treeview(document.getElementById('treeview'))
    root.appendChild().appendChild()
    root.appendChild().appendChild()

    function createContextMenu(coord){
        let div = document.createElement('div')
        var button = document.createElement('button')
        button.innerHTML = 'bang'
        button.onclick = ()=>{

        }
        div.appendChild(button)
        Object.assign(div.style,{
            position: 'fixed',
            left: coord.x+'px',
            top: coord.y+'px'
        })
        document.body.appendChild(div)
        return div
    }
    class FractalTree{
        constructor(canvas){
            canvas.width = canvas.style.width = window.innerWidth
            canvas.height = canvas.style.height = 600
            this.canvas = canvas
            this.ctx = this.canvas.getContext('2d')
            this.args = {
                radian: 5*Math.PI/180,
                trim: 10,
                point: {x:this.canvas.width/2,y:this.canvas.height},
                vector: {x:0,y:-100}
            }
            this.paths = []
            this.branch(this.args.point,this.args.vector)
            this.draw()
        }
        rotate(vector,radian){
            return {
                x: vector.x*Math.cos(radian)-vector.y*Math.sin(radian),
                y: vector.x*Math.sin(radian)+vector.y*Math.cos(radian)
            }
        }
        scale(vector,pct){
            return {x: vector.x*pct, y: vector.y*pct}
        }
        trim(vector,trim){
            let len = this.getLength(vector)
            let pct = (len-trim)/len
            pct = pct>0?pct:0
            return this.scale(vector, pct)
        }
        getLength(vector){
            return Math.sqrt(Math.pow(vector.x,2)+Math.pow(vector.y,2))
        }
        branch(point,vector){            
            let newVector = this.trim(vector,this.args.trim)
            // let newVector = this.scale(vector,0.6)
            let newPoint = {x:point.x+vector.x, y:point.y+vector.y}
            this.paths.push([point.x,point.y,newPoint.x,newPoint.y])
            if(this.getLength(newVector)>=1){
                this.branch(newPoint,this.rotate(newVector,this.args.radian))
                this.branch(newPoint,this.rotate(newVector,-this.args.radian))
            }
        }
        draw(){
            this.ctx.beginPath()
            for(let path of this.paths){
                this.ctx.moveTo(path[0],path[1])
                this.ctx.lineTo(path[2],path[3])
            }
            this.ctx.stroke()
            this.ctx.closePath()
        }
        update(args){
            this.ctx.clearRect(0,0,this.canvas.width,this.canvas.height)
            this.paths = []
            Object.assign(this.args, args)
            this.branch(this.args.point,this.args.vector)
            this.draw()
        }
    }
    var ft = new FractalTree(document.getElementById('fractal-tree'))
    document.getElementById('slider1').oninput = e=>{
        ft.update({radian: e.target.value*Math.PI/180})
    }
    document.getElementById('slider2').oninput = e=>{
        ft.update({trim: e.target.value})
    }
    
</script>
</html>