html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:locale" content="zh_tw")
        meta(property="og:title" content="Chuboy's portfolio")
        meta(property="og:description", content="I am a web developer as well as a data analyst.")
        meta(property="og:image" content="https://chuboy.dev/assets/og-title.jpg")
        meta(property="og:image:type" content="image/jpg")
        meta(property="og:type" content="portfolio")
        meta(property="og:url" content="https://chuboy.dev")
        meta(name="description", content="Chuboy's portfolio includes vue media player, react & socket.io chatroom, python notes and even more.")
        link(rel="shortcut icon", href="assets/favicon.ico", type="image/x-icon")
        title ChuBoy
    body
        header
            #loading-page.bg-dark.w-100.vh-100.position-fixed(style="z-index:100;transition: 1s")
                #pumping-circle
            //nav.navbar(style="display:none")
                .container
                    a.navbar-brand(href='#') chuboy
                    input.navbar-toggler(type='checkbox')
                    .hamburger.bg-cyan
                        div
                    ul.navbar-menu
                        li
                            a(href='#') home
                        li
                            a(href='#') portfolios
                        li
                            a(href='#') articles
                        li
                            a(href='#') about
        main#smooth-scroll-container
            #smooth-scroll-translator
                section.vh-100.overflow-hidden.position-relative.text-light
                    canvas#chart.position-absolute
                    .position-absolute.w-100.h-100.d-flex.flex-column.justify-content-center.align-items-center
                        .row.my-3
                            .col-sm-12.col-md-6.d-flex.align-items-center.justify-content-center
                                .display-1#chuboy ChuBoy
                            .col-sm-12.col-md-6
                                pre.display-4#web-dev.text-light Web developer
                                pre.display-4#data-analyst.text-light Data analyst
                        p.text-center#typing-text
                        .d-flex.justify-content-center.align-items-center
                            .mouse.mx-2
                                .mouse-wheel
                            span scroll down
                section.bg-dark.py-5
                    h1#my-skills.text-light.mb-5.px-2(style="font-size:8vw") 技能與專案
                    .container-fluid(style="transform:skewY(-5deg);padding:0").overflow-hidden
                        .w-100.d-flex.justify-content-around.bg-warning.py-3
                            h1 FRONTEND
                            h1.d-none.d-md-block FRONTEND
                            h1.d-none.d-sm-block FRONTEND
                        .row.bg-info.w-100.py-3(data-once="fade-up")
                            .col-sm-12.col-md-6.d-flex.justify-content-center.align-items-center.text-light
                                .neon-btn
                                    .d-flex.flex-column.justify-content-center
                                        h1.display-1.border-bottom Vue
                                        h3.display-3 音樂清單
                                        .d-flex.justify-content-center
                                            .badge.badge-light.mx-1 media player
                                            .badge.badge-light.mx-1 firebase
                                            .badge.badge-light.mx-1 youtube api
                                    span
                                    span
                                    span
                                    span
                            .col-sm-12.col-md-6.px-3.py-3
                                h1.heading(style="opacity:0.5") 專為電腦使用者設計「以清單為導向」的播放器，部屬在Firebase且擁有熱門排行統計的功能，使用者可以建立與分享自己的音樂清單。
                                a(href="https://musicplayer-666.web.app/")
                                    video(style="max-width:100%" autoplay loop muted)
                                        source(src="assets/mvbox.mp4" type="video/mp4")
                        .py-5
                        .row.flex-row-reverse.bg-primary.w-100.py-3(data-once="fade-up")
                            .col-sm-12.col-md-6.d-flex.justify-content-center.align-items-center.text-light
                                .neon-btn
                                    .d-flex.flex-column.justify-content-center
                                        h1.display-1.border-bottom React
                                        h3.display-3 聊天室
                                        .d-flex.justify-content-center
                                            .badge.badge-light.mx-1 node server
                                            .badge.badge-light.mx-1 sqlite
                                            .badge.badge-light.mx-1 socket.io
                                            .badge.badge-light.mx-1 Next.js SSR
                                    span
                                    span
                                    span
                                    span
                            .col-sm-12.col-md-6.px-3.py-3
                                h1.text-light.heading(style="opacity:0.5") 部屬在虛擬機的全端網頁作品(採用JessHsu的設計稿)，透過Web Socket，使用者可以即時地傳輸訊息與圖片。
                                a(href="http://chatroom-websocket.com/")
                                    img(style="max-width:100%" src="assets/chatroom.gif", alt="")
                        .py-5
                        .w-100.d-flex.justify-content-around.bg-danger.py-3
                            h1 BACKEND
                            h1.d-none.d-md-block BACKEND
                            h1.d-none.d-sm-block BACKEND
                        .row.bg-warning.py-3(data-once="fade-up")
                            .col-sm-12.col-md-6.d-flex.flex-column.justify-content-center.align-items-center
                                .neon-btn
                                    .d-flex.flex-column.justify-content-center
                                        h1.display-1.border-bottom Python
                                        h3.display-3 文章點滴
                                        .d-flex.justify-content-center
                                            .badge.badge-light.mx-1 爬蟲
                                            .badge.badge-light.mx-1 資料科學
                                            .badge.badge-light.mx-1 後端框架
                                            .badge.badge-light.mx-1 資料庫
                                    span
                                    span
                                    span
                                    span
                            .col-sm-12.col-md-6.d-flex.flex-wrap.align-items-center
                                .list-group.w-100.text-center.py-3.px-3
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/2aiF1bNaQrOHnYpln9SxaQ" target="_blank") 爬蟲菜單
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/82tLFMonR1CNdVfN7RMJXQ" target="_blank") 資料庫筆記
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/fxoAisnGRCKJLA8msKrTVA" target="_blank") Flask筆記
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/DaH8WZpgRR6A6UO_qIKPYw" target="_blank") 資料科學
                                    a.list-group-item.list-group-item-warning(href="https://github.com/billju/lazyplotly" target="_blank") 上架套件
                section.overflow-hidden.w-100
                    svg#wave-top.w-100
                    .my-5
                    svg#wave-bottom.w-100
                    .bg-primary.pt-5
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                #flip-text
                        .w-100.bg-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Line Bot聊天機器人
                                span.badge.badge-info.mx-1 line API
                                span.badge.badge-info.mx-1 node
                                span.badge.badge-info.mx-1 mongodb
                                .row
                                    .col-md-6
                                        img.w-100.my-3(src="assets/linebot.png", alt="" loading="lazy")
                                    .col-md-6
                                        p 故事由來：服役期間受營外回報所困擾，只要是最晚回的那個就得隨時收集大家的訊息並且按照座號排序整理，為了不讓大家互相傷害，乾脆寫一支linebot幫忙搞定!!!
                                        p 技術層面：line開放開發者使用messaging api的服務，可以新增機器人的頻道，將channelId、channelSecret、channelAccessToken 
                                            | 透過安全應用層https以post的方式和後端伺服器安全地連結，同時後端node.js套件npm中有一個linebot套件包，結合免費的
                                            | Heroku---提供免費後端平台的服務PaaS，就能客製化自動彙整班兵回報的機器人。
                                        span 網址連結：
                                        a(href="https://github.com/billju/ninja-hattori" target="_blank") https://github.com/billju/ninja-hattori
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Android範例
                                span.badge.badge-info.mx-1 demo
                                span.badge.badge-info.mx-1 android studio
                                .d-flex.flex-column.flex-md-row.my-3(style="width:100%;height:600px")
                                    .flex-hover(style="background:url(assets/MyStore1.jpg);background-size:cover;background-repeat:no-repeat;background-position:center")
                                    .flex-hover(style="background:url(assets/MyStore2.jpg);background-size:cover;background-repeat:no-repeat;background-position:center")
                                    .flex-hover(style="background:url(assets/MyStore3.jpg);background-size:cover;background-repeat:no-repeat;background-position:center")
                                    .flex-hover(style="background:url(assets/MyStore4.jpg);background-size:cover;background-repeat:no-repeat;background-position:center")
                                    .flex-hover(style="background:url(assets/MyStore5.jpg);background-size:cover;background-repeat:no-repeat;background-position:center")
                                    .flex-hover(style="background:url(assets/MyStore6.jpg);background-size:cover;background-repeat:no-repeat;background-position:center")
                                .row
                                    .col-sm-6.d-flex.justify-content-center
                                        video.my-3(src="assets/mystore.mp4" muted autoplay loop style="height:400px")
                                    .col-sm-6.d-flex.align-items-center
                                        div
                                            p 故事由來：當創客時參加了ARM競賽，以無人商店為題，因緣際會下自學安卓APP開發，希望寫個APP能夠掃描商品標間，
                                                | 並配合物聯網將客人的需求快速加入購物車，為了不忘記這些技術概念，將每塊功能以使用範例的方式紀錄下來作為手冊。
                                            p 功能簡介：MyStore APP可以掃描商品上的QR CODE並且連結至後端伺服器進行行動支付，同時具有購物車與餘額查詢功能。
                                            span 網址連結：
                                            a(href="https://github.com/billju/Android-source-code-demo" target="_blank") https://github.com/billju/Android-source-code-demo
                        .w-100.bg-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Packing最佳化
                                span.badge.badge-info.mx-1 operation research
                                span.badge.badge-info.mx-1 optimizer
                                span.badge.badge-info.mx-1 gurobi
                                .row
                                    .col-sm-6
                                        img.w-100.my-3(src="assets/packing.png" alt="" loading="lazy")
                                    .col-sm-6.d-flex.align-items-center
                                        div
                                            p 故事由來：就學期間有門課在研究線性規劃模型，大家都做TSP(traveling sales problem)路徑搜索問題，
                                                | 我想做不一樣的，反而將線性規劃(linear programing)
                                                | 套用在物流業界中貨物堆疊的問題，做出不一樣的成果，此模型可設定堆疊條件進行規劃，像是貨物的重量、下方貨物的面積。
                                            span 網址連結：
                                            a(href="https://github.com/billju/gurobi-packing" target="_blank") https://github.com/billju/gurobi-packing
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 逐字稿&amp;字幕編輯軟體
                                span.badge.badge-info.mx-1 rich text editor
                                span.badge.badge-info.mx-1 web audio
                                span.badge.badge-info.mx-1 media
                                span.badge.badge-info.mx-1 SRT file IO
                                .row
                                    .col-md-6
                                        img.w-100.my-3(src="assets/transcriber.jpg" alt="" loading="lazy")
                                    .col-md-6.d-flex.align-items-center
                                        div
                                            p 故事由來：開會總是要做會議紀錄，若要在紀錄細節時，邊聽錄音檔邊寫紀錄常常需要切換桌面應用程式，不斷切換播放器與編輯器的頁面，還容易因為沒打時間點，花費許多額外心力尋找關鍵字，
                                                | 因此我特製了專屬編輯器讓工作變得更方便，後來又靈光乍現地擴充了影片上字幕功能，並且把檔案IO格式轉為通用的SRT，讓影音製作者也能夠享受到這番方便性。
                                            p 技術層面：因web audio的解碼會佔據大量記憶體的問題，改對即時產出的波峰進行取樣，讓長達數小時的影音也能將波形視覺化，並自製文本編輯器將每段文字加入時戳標籤。
                                            span 網址連結：
                                            a(href="https://chuboy.dev/transcriber" target="_blank") https://chuboy.dev/transcriber
                        .w-100.bg-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Webpack我全包了
                                span.badge.badge-info.mx-1 npm
                                span.badge.badge-info.mx-1 webpack
                                p 最新文章：webpack入門與設定範例，介紹如何打包HTML/Pug, CSS/Sass/Scss, JS/Babel，以及完整範例。
                                span 網址連結：
                                a(href="https://hackmd.io/tkWGj4THScCtgumJRMkhXA" target="_blank") https://hackmd.io/tkWGj4THScCtgumJRMkhXA
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 lightGIS地理資訊系統
                                span.badge.badge-info.mx-1 OOP
                                span.badge.badge-info.mx-1 Vanilla JS
                                span.badge.badge-info.mx-1 WEB GIS
                                .row
                                    .col-md-6
                                        img.w-100.my-3(src="assets/lightGIS.png", alt="" loading="lazy")
                                    .col-md-6.d-flex.align-items-center
                                        div
                                            p 全手刻的網頁版輕量地理資訊系統，除了能夠當繪圖軟體、進行圖層分析，還能當圖片檢視器，打開右方開關開啟圖層
                                                | ，拖曳圖層名稱切換先後順序，點擊右鍵開始繪製，可匯入圖片檔與geojson檔，
                                                | 未來將整合PTX資料，我希望整合交通資訊，讓規劃者能更快速的進行疊圖分析，讓用路人有更多元的運具選擇，
                                                | lightGIS可以上傳csv、geojson、圖片等檔案，以及編輯完後可以匯出geojson、png、svg，使其可以相容市面繪圖軟體與GIS軟體。
                                            span 網址連結：
                                            a(href="https://chuboy.dev/lightGIS" target="_blank") https://chuboy.dev/lightGIS
                section
                    .container.pt-3
                        h1 路徑搜索演算法
                        p 不管是做導航軟體或是遊戲，總是離不開路徑搜索的問題，A*演算法設計了f,g,h三個權重進行比對，
                            | 能夠快速又有效率地找出通往目的地的方法，以下是個迷宮小遊戲範例，點擊方框可以興建或拆除障礙物，點擊按鈕試試看。
                    .btn.btn-success.w-100(onclick="handleMazeClick()") Click me!
                    canvas#maze.w-100.vh-100
                section
                    svg#pulse.w-100
                    .w-100.bg-dark.text-light.overflow-hidden
                        h1.text-center(style="font-size:8vw" data-once="fade-left") MORE PROJECTS
                    .container-lg
                        .row
                            .col-sm-12.col-md-4
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3(data-once="fade-up")
                                    .hover-mask
                                        img(src="assets/pomodoro.gif" alt="" style="height:300px" loading="lazy")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Pomodoro
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        img(src="assets/tetris.gif" alt="" style="height:300px" loading="lazy")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Tetris
                            .col-sm-12.col-md-4
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        img(src="assets/agario.gif" alt="" style="height:400px" loading="lazy")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Agar.io
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        img(src="assets/draggableTetris.gif" alt="" style="height:300px" loading="lazy")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Draggable Tetris
                            .col-sm-12.col-md-4
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        img(src="assets/freecell.gif" alt="" style="height:250px" loading="lazy")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Freecell
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        img(src="assets/greenband.gif" alt="" style="height:250px" loading="lazy")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Greenband
                footer.position-relative.bg-primary(style="height:500px")
                    canvas#fractal-tree.w-100.h-100.position-absolute
                    .position-absolute(style="bottom:0;left:0").px-3.py-3.text-light
                        a(href="https://chuboy.co")
                            h3 Previous Version
                        h3.display-4 contact me
                        .d-flex.flex-wrap.justify-content-around
                            a.jello(href="https://www.facebook.com/baibai.zhu1" target="_blank")
                                img(src="assets/facebook.png" loading="lazy")
                            a.jello(href="mailto:billju666@gmail.com" target="_blank")
                                img(src="assets/gmail.png" loading="lazy")
                            a.jello(href="https://github.com/billju" target="_blank")
                                img(src="assets/github.png" loading="lazy")
                            a.jello(href="https://codepen.io/HandsomeChuBoy" target="_blank")
                                img(src="assets/codepen.png" loading="lazy")
        #smooth-scroll-hitbox
        #fullscreen.bg-dark.text-light
            .container.h-100.d-flex.flex-column.justify-content-center.align-items-center
                a(href="#" target="_blank")
                    img(src="assets/pomodoro.gif", alt="" style="max-width:100%;max-height:400px")
                h1
                p(style="max-width:500px") Lorem ipsum dolor sit amet consectetur `adipisicing elit. Perspiciatis dolorum eius inventore officia qui quisquam, aspernatur quaerat sint, assumenda nobis architecto corporis excepturi atque asperiores tempora non quibusdam aperiam vitae.
                small 點圖片進入連結，點黑底返回
        