html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="chuboy's portfolio")
        link(rel="shortcut icon", href="assets/favicon.ico", type="image/x-icon")
        title ChuBoy
    body
        header
            #loading-page.bg-dark.w-100.vh-100.position-fixed(style="z-index:666;transition: 1s")
                #pumping-circle
            //nav.navbar(style="display:none")
                .container
                    a.navbar-brand(href='#') chuboy
                    input.navbar-toggler(type='checkbox')
                    .hamburger.bg-cyan
                        div
                    ul.navbar-menu
                        li
                            a(href='#') home
                        li
                            a(href='#') portfolios
                        li
                            a(href='#') articles
                        li
                            a(href='#') about
        main#smooth-scroll-container
            #smooth-scroll-translator
                section.vh-100.overflow-hidden.position-relative
                    canvas#chart.position-absolute
                    .position-absolute.w-100.h-100.d-flex.flex-column.justify-content-center.align-items-center.text-light
                        .row.my-3
                            .col-sm-12.col-md-7.d-flex.align-items-center.justify-content-center
                                .display-1#chuboy ChuBoy
                            .col-sm-12.col-md-5
                                .display-4#web-dev web developer
                                .display-4#data-analyst data analyst
                        p.text-center#typing-text
                        .d-flex.justify-content-center
                            .mouse
                                .mouse-wheel
                section.bg-dark.py-5
                    #my-skills.display-1.text-light.mb-5 技能與專案
                    .container-fluid(style="transform:skewY(-5deg);padding:0").overflow-hidden
                        .w-100.d-flex.justify-content-around.bg-warning.py-3
                            h1 FRONTEND
                            h1.d-none.d-md-block FRONTEND
                            h1.d-none.d-sm-block FRONTEND
                        .row.bg-info.w-100.py-3(data-once="fade-up" data-once-offset="1.5")
                            .col-sm-12.col-md-6.d-flex.justify-content-center.align-items-center.text-light
                                a.neon-btn(href="https://musicplayer-666.web.app/")
                                    .d-flex.flex-column.justify-content-center
                                        h1.display-1.border-bottom Vue
                                        h3.display-3 音樂清單
                                        .d-flex.justify-content-around
                                            .badge.badge-light.mx-1 mp3 player
                                            .badge.badge-light.mx-1 firebase
                                            .badge.badge-light.mx-1 youtube api
                                    span
                                    span
                                    span
                                    span
                            .col-sm-12.col-md-6.px-3.py-3
                                h1.heading(style="opacity:0.5") 專為電腦使用者設計「以清單為導向」的播放器，部屬在Firebase且擁有熱門排行統計的功能，使用者可以建立與分享自己的音樂清單
                                a(href="https://musicplayer-666.web.app/")
                                    img(style="max-width:100%" src="assets/mvbox.min.gif", alt="")
                        .py-5
                        .row.flex-row-reverse.bg-primary.w-100.py-3(data-once="fade-up" data-once-offset="1.5")
                            .col-sm-12.col-md-6.d-flex.justify-content-center.align-items-center.text-light
                                a.neon-btn(href="http://chatroom-websocket.com/")
                                    .d-flex.flex-column.justify-content-center
                                        h1.display-1.border-bottom React
                                        h3.display-3 聊天室
                                        .d-flex.justify-content-around
                                            .badge.badge-light.mx-1 node server
                                            .badge.badge-light.mx-1 sqlite
                                            .badge.badge-light.mx-1 socket.io
                                            .badge.badge-light.mx-1 Next.js SSR
                                    span
                                    span
                                    span
                                    span
                            .col-sm-12.col-md-6.px-3.py-3
                                h1.text-light.heading(style="opacity:0.5") 部屬在虛擬機的全端網頁作品(採用JessHsu的設計稿)，透過Web Socket，使用者可以即時地傳輸訊息與圖片
                                a(href="http://chatroom-websocket.com/")
                                    img(style="max-width:100%" src="assets/chatroom.gif", alt="")
                        .py-5
                        .w-100.d-flex.justify-content-around.bg-danger.py-3
                            h1 BACKEND
                            h1.d-none.d-md-block BACKEND
                            h1.d-none.d-sm-block BACKEND
                        .row.bg-warning.py-3(data-once="fade-up" data-once-offset="3")
                            .col-sm-12.col-md-6.d-flex.flex-column.justify-content-center.align-items-center
                                h1.display-1.border-bottom Python
                                h3.display-3 文章點滴
                                .d-flex.justify-content-around
                                    span.badge.badge-light.mx-1 爬蟲
                                    span.badge.badge-light.mx-1 數據分析
                                    span.badge.badge-light.mx-1 後端框架
                                    span.badge.badge-light.mx-1 資料庫
                            .col-sm-12.col-md-6.d-flex.flex-wrap.align-items-center
                                .list-group.w-100.text-center.py-3.px-3
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/2aiF1bNaQrOHnYpln9SxaQ" target="_blank") 爬蟲菜單
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/82tLFMonR1CNdVfN7RMJXQ" target="_blank") 資料庫筆記
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/Zx2flP23T4apmwSYcjBXxQ" target="_blank") 統計筆記
                                    a.list-group-item.list-group-item-warning(href="https://hackmd.io/DaH8WZpgRR6A6UO_qIKPYw" target="_blank") 資料科學
                section.overflow-hidden.w-100
                    svg#wave-top.w-100
                    .my-5
                    svg#wave-bottom.w-100
                    .bg-primary.pt-5
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1#flip-text
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Linebot聊天機器人
                                span.badge.badge-info.mx-1 line API
                                span.badge.badge-info.mx-1 node
                                span.badge.badge-info.mx-1 mongodb
                                p 故事由來：服役期間受營外回報所困擾，只要是最晚回的那個就得隨時收集大家的訊息並且按照座號排序整理，為了不讓大家互相傷害，乾脆寫一支linebot幫忙搞定!!!
                                p 技術層面：line開放開發者使用messaging api的服務，可以新增機器人的頻道，將channelId、channelSecret、channelAccessToken 
                                    | 透過安全應用層https以post的方式和後端伺服器安全地連結，同時後端node.js套件npm中有一個linebot套件包，結合免費的
                                    | Heroku---提供免費後端平台的服務PaaS，就能客製化自動彙整班兵回報的機器人。
                                span 網址連結：
                                a(href="https://github.com/billju/ninja-hattori" target="_blank") https://github.com/billju/ninja-hattori
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Android範例
                                span.badge.badge-info.mx-1 demos
                                p 故事由來：當創客時參加了ARM競賽，以無人商店為題，因緣際會下自學安卓APP開發，希望寫個APP能夠掃描商品標間，並配合物聯網將客人的需求快速加入購物車，
                                    | 為了不忘記這些技術概念，將每塊功能模組用法用範例的方式紀錄下來作為手冊。
                                span 網址連結：
                                a(href="https://github.com/billju/Android-source-code-demo" target="_blank") https://github.com/billju/Android-source-code-demo
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Packing最佳化
                                span.badge.badge-info.mx-1 operation research
                                span.badge.badge-info.mx-1 optimizer
                                span.badge.badge-info.mx-1 gurobi
                                p 故事由來：就學期間有門課在研究線性規劃模型，我將其套用在物流業界中貨物堆疊的問題，此模型可額外擴充堆疊條件，像是貨物的重量、下方貨物的面積。
                                span 網址連結：
                                a(href="https://github.com/billju/gurobi-packing" target="_blank") https://github.com/billju/gurobi-packing
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 逐字稿&amp;字幕編輯軟體
                                span.badge.badge-info.mx-1 rich text editor
                                span.badge.badge-info.mx-1 web audio
                                span.badge.badge-info.mx-1 media
                                span.badge.badge-info.mx-1 SRT file IO
                                p 故事由來：開會總是要做會議紀錄，若要在紀錄細節時，邊聽錄音檔邊寫紀錄常常需要切換桌面應用程式，不斷切換播放器與編輯器的頁面，還容易因為沒打時間點，花費許多額外心力尋找關鍵字，
                                    | 因此我特製了專屬編輯器讓工作變得更方便，後來又靈光乍現地擴充了影片上字幕功能，並且把檔案IO格式轉為通用的SRT，讓影音製作者也能夠享受到這番方便性。
                                p 技術層面：以analyser即時產出的波峰進行取樣，避開了web audio的音樂解碼會佔據大量記憶體的問題，讓長達數小時的影音也能將波形視覺化，也能藉由自製文本編輯器格行標籤快速跳點。
                                p everytime when transcribing from meeting is too trivial
                                span 網址連結：
                        .w-100.bg-dark.text-light.px-3.py-3(data-once="fade-up")
                            .container
                                h1 Webpack我全包了
                                span.badge.badge-info.mx-1 npm
                                span.badge.badge-info.mx-1 webpack
                                p 最新文章，webpack入門與設定範例，介紹如何打包HTML/Pug, CSS/Sass/Scss, JS/Babel，以及完整範例。
                                span 網址連結：
                                a(href="https://hackmd.io/tkWGj4THScCtgumJRMkhXA" target="_blank") https://hackmd.io/tkWGj4THScCtgumJRMkhXA                    
                section
                    .container-lg
                        h1 交通地圖
                        span 讀運系卻搞資訊，做過票證分析、旅行時間預測模型、浮車法調查APP、客運評鑑系統
                        p 我希望整合交通資訊，讓規劃者有更好的依據，讓用路人有更好的選擇
                section
                    canvas#maze.w-100.vh-100(data-top="transform:translateY(0px)" data-top1500="transform:translateY(1500px)" style="transition:transform 1s cubic-bezier(0.23, 1, 0.32, 1)")
                    #maze-description.position-relative.bg-light-white(style="height:1500px")
                        .position-absolute.w-100.px-3(style="top:0")
                            .d-inline-block.bg-light-white.px-3
                                h1.display-1 Path Finder
                                h3.display-3.text-right Click me!!!
                                h5.heading.float-right A* Algorithm
                            .text-center.my-3.py-3.bg-light-white
                                p Here I'll show you how to solve this maze.
                                p We use a classic algorithm called A*.
                                p It's clever and very compuational efficient.
                                p This algorithm is widely used, especially at game.
                                p By the way, something I would like to say is that - when it comes to algorithm research, I can do a good job.
                section
                    svg#pulse.w-100
                    h1.display-2.text-center(data-once="fade-left") MORE PROJECTS
                    .container-lg
                        .row
                            .col-sm-12.col-md-4
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3(data-once="fade-up")
                                    .hover-mask
                                        .bg-img(style="height:300px;background:url(assets/pomodoro.gif)")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Pomodoro
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        .bg-img(style="height:300px;background:url(assets/tetris.gif)")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Tetris
                            .col-sm-12.col-md-4
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        .bg-img(style="height:400px;background:url(assets/agario.gif)")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Agar.io
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        .bg-img(style="height:300px;background:url(assets/draggableTetris.gif)")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Draggable Tetris
                            .col-sm-12.col-md-4
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        .bg-img(style="height:250px;background:url(assets/freecell.gif)")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Freecell
                                .shaker.rounded.bg-dark.text-light.px-3.py-3.my-3
                                    .hover-mask
                                        .bg-img(style="height:250px;background:url(assets/greenband.gif)")
                                        .mask visit site
                                    .px-2.py-2
                                        h3 Greenband
                .position-relative.bg-primary(style="height:500px")
                    canvas#fractal-tree.w-100.h-100.position-absolute
                    .position-absolute(style="bottom:0;left:0").px-3.py-3.text-light
                        a(href="https://chuboy.co")
                            h3 Previous Version
                        h3.display-4 contact me
                        .d-flex.flex-wrap.justify-content-around
                            a.jello(href="https://www.facebook.com/baibai.zhu1" target="_blank")
                                img(src="assets/facebook.png")
                            a.jello(href="mailto:billju666@gmail.com" target="_blank")
                                img(src="assets/gmail.png")
                            a.jello(href="https://github.com/billju" target="_blank")
                                img(src="assets/github.png")
                            a.jello(href="https://codepen.io/HandsomeChuBoy" target="_blank")
                                img(src="assets/codepen.png")
        #smooth-scroll-hitbox
        footer#fullscreen.bg-dark.text-light
            .container.h-100.d-flex.flex-column.justify-content-center.align-items-center
                a(href="#" target="_blank")
                    img(src="assets/pomodoro.gif", alt="" style="max-width: 100%")
                h1
                p(style="max-width:500px") Lorem ipsum dolor sit amet consectetur `adipisicing elit. Perspiciatis dolorum eius inventore officia qui quisquam, aspernatur quaerat sint, assumenda nobis architecto corporis excepturi atque asperiores tempora non quibusdam aperiam vitae.
                small 點圖片進入連結，點黑邊返回
        