<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="bang")
        title Intro
        link(rel="stylesheet" href="../css/bootstrap.css")
        link(rel="stylesheet", href="intro.css")
    body
        header
            nav my portfolio
        section
            .container
                .row
                    .col-sm-6
                        .display-1 ChuBoy
                    .col-sm-6
                        .display-4 web
                        .display-4 data
                        .display-4 metro
                .row
                    p.col-12 fascinated with app creation
                
                .mouse
                    .mouse-wheel
        section
            .display-1 My skills n little project
            .container
            .row
                .col-sm-12.col-md-4.folder
                    h3.card vue - mvbox
                    .card mp3 player
                    .card firebase
                    .card youtube api
                .col-sm-12.col-md-4.folder
                    h3.card react - chatroom
                    .card node.js
                    .card sqlite
                    .card socket.io
                    .card next
                .col-sm-12.col-md-4.folder
                    h3.card python - crawler
                    .card pandas
                    .card tkinter
                    .card tensorflow
        section
            .display-3 How I apply IT to life
            p linebot
            h3 transcriber
            p everytime when transcribing from meeting is too trivial
            p path finder
            p optimizer
        section
            .display-2 data analyst
            canvas#chart
        section
            .display-2 metro plan
            p traffic
            p network
            p city plan
            p environment
            p land owner
            p engineering
        section
            .display-2 more projects
            .container
                .row
                    .col-sm-12.col-md-6.col-lg-4
                        .rounded.bg-dark.text-light.px-3.py-3
                            .hover-mask
                                .bg-img(style="height:300px;background:url(../static/image/pomodoro.gif)")
                                .mask visit site
                            .px-2.py-2
                                h3 Pomodoro
                                p stay focus
                    .col-sm-12.col-md-6.col-lg-4
                    .col-sm-12.col-md-6.col-lg-4
        footer
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
                path(fill="#0099ff" fill-opacity="1" d="M0,192L34.3,165.3C68.6,139,137,85,206,101.3C274.3,117,343,203,411,240C480,277,549,267,617,234.7C685.7,203,754,149,823,117.3C891.4,85,960,75,1029,90.7C1097.1,107,1166,149,1234,176C1302.9,203,1371,213,1406,218.7L1440,224L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z")
                path(fill="#0099ff" fill-opacity="0.6" d="M0,224L40,197.3C80,171,160,117,240,117.3C320,117,400,171,480,176C560,181,640,139,720,133.3C800,128,880,160,960,154.7C1040,149,1120,107,1200,85.3C1280,64,1360,64,1400,64L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z")
            
            canvas#fractal-tree
            .display-1 contact me
            p my skill tree is really skewed
            img(src="../static/image/facebook.png")
            img(src="../static/image/gmail.png")
            img(src="../static/image/github.png")
            img(src="../static/image/codepen.png")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
                path(fill="#0099ff" fill-opacity="1" d="M0,224L240,224L480,160L720,64L960,96L1200,32L1440,160L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z")
                path(fill="#0099ff" fill-opacity="0.6" d="M0,256L240,128L480,128L720,64L960,160L1200,128L1440,32L1440,320L1200,320L960,320L720,320L480,320L240,320L0,320Z")
        script(src="chart.js")
        script(src="main.js")