*{
    font-family: 微軟正黑體;
}
html,body{
    margin: 0;
    background: #eee;
    height: 100%;
    overflow-y: hidden;
}
#panel{
    width: 100%;
    height: 25px;
}
#panel i{
    cursor: pointer;
}
#settings{
    transition: transform 0.5s;
}
span:hover #settings{
    transform: rotate(180deg);
}
#audio-control-container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #666;
    user-select: none;
    text-align: center;
    line-height: 15px;
}
#audio-control-bar{
    position: absolute;
    height: 100%;
    user-select: none;
    background: #aaa;
}
#audio-control-text{
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    user-select: none;
}
#waveform{
    width: 100%;
    height: 50px;
    cursor: ew-resize;
}
#drop-field{
    width: 200px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: dodgerblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.show-only-hover div, .show-only-hover ul{
    display: none;
}
.show-only-hover:hover div, .show-only-hover:hover ul{
    display: block;
}
#text-editor{
    padding-left: 5px;
    background: #fff;
    margin: 0;
    flex: 1;
    width: 500px;
    white-space: pre-wrap;
}
#text-editor, #line-numbers{
    line-height: 20px;
}
#text-editor:focus{
    outline: none;
}
#line-numbers{
    text-align: right;
    padding-right: 5px;
    font-size: 10px;
    border-right: 3px solid palevioletred;
}
#line-numbers div{
    cursor: pointer;
}